.categoryPicturesContainer {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.categoryPicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.categoryPicture img {
    height: 16vw;
    width: 16vw;
    border-radius: 10px;
}

.categoryPicturesContainer h3 {
    font-family: 'Caveat', cursive;
    font-family: 'Homemade Apple', cursive;
}

@media (max-width: 480px) {
    .categoryPicturesContainer h3 {
        font-size: 9px;
    }
}