.favoritesListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 75vw; */
}

.favoritesListTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favoriteListTitle img {
    height: 150px;
    width: 450px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
}

.iconContainer {
    height: 65px;
    width: 65px;
}

table {
    border: 3px solid black;
    background-color: ;
    font-family: 'Arvo', serif;
    background-color: rgb(228, 232, 247);
    border-radius: 25px;
    width: 80vw;
}

td img {
    height: 40px;
    width: 40px;
}