.favoritesListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 75vw; */
}

.favoritesListTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favoritesListTitle img {
    height: 150px;
    width: 450px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
}

.iconContainer img {
    height: 50px;
    width: 50px;
}

.favoritesListContainer {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
}

table {
    border: 3px solid black;
    font-family: 'Arvo', serif;
    background-color: rgb(228, 232, 247);
    border-radius: 25px;
    width: 80vw;
}

td img {
    height: 40px;
    width: 40px;
}

@media (max-width: 480px) {
    .favoritesListTitle img {
        height: 75px;
        width: 225px;
    }
    .iconContainer img {
        height: 40px;
        width: 40px;
    }
    td img {
        height: 30px;
        width: 30px;
    }
    table {
        font-size: 43%;
    }
}