.madeBy img {
    height: 40px;
    width: 120px;
}

.ourNames img {
    height: 125px;
    width: 450px;
}

@media (max-width: 480px) {
    .madeBy img {
        height: 30px;
        width: 90px;
    }
    .ourNames img {
        height: 90px;
        width: 300px;
    }
}