.searchBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
    align-items: baseline;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.recimeLogo img {
    width: 115px;
    height: 115px;
}

.recimeTitle img {
    width: 400px;
    height: 200px;
}

.searchBarContainer img {
    height: 125px;
    width: 125px;
    margin: 6px;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar img {
    height: 62.5px;
    width: 125px;
}

.favoritesInnerSection {
    display: flex;
    flex-direction: row;
}

.favoritesInnerSection img {
    margin: 8px;
    height: 70px;
    width: 70px;
}

.categoriesContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.categoryButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.categoryButtons img {
    height: 75px;
    width: 150px;
}


/* .categoryButtons button {
    padding: 6px;
    margin: 6px;
    background-color: white;
     border: solid #28CF75 2px;
}
    */

.categoryButtons button {
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.categoryButtons button:hover {
    background-color: #fff;
}

.categoryButtons button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .categoryButtons button {
        min-width: 120px;
        padding: 0 25px;
    }
}

h1 {
    font-family: 'Corinthia', cursive;
    font-family: 'Petit Formal Script', cursive;
    color: #FE6B35;
}

hr {
    color: #FE6B35;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #A0EDff; */
    /* background-color: #EBF875; */
    /* background-color: #28CF75; */
    /* background-color: #FE6B35; */
}

.searchInput {
    border: 3px solid black;
    border-radius: 20px;
}


/* .categoriesContainer {
    background-image: linear-gradient(to right, #2b89d1, #71a9d4, #C2B9B0);
} */


/* .categoriesContainer {
    background-color: #b4c6d3;
} */

.subCategoriesContainer {
    background-image: linear-gradient(to right, #b4c6d3, #71a9d4);
}


/* .bar {
    background-image: linear-gradient(to bottom right, #E7717d, #ec8892, #eeafb5);
} */

@media (max-width: 480px) {
    .categoriesContainer {
        width: 80vw;
    }
    .recimeLogo {
        width: 75vw;
    }
    .recimeTitle {
        width: 75vw;
    }
    .searchBar img {
        width: 60px;
        height: 40px;
    }
    .categoryButtons img {
        width: 100px;
        height: 60px;
    }
    .recimeTitle img {
        width: 250px;
        height: 125px;
    }
    .favoritesInnerSection img {
        width: 40px;
        height: 40px;
    }
    .recimeLogo img {
        width: 70px;
        height: 70px;
    }
    .searchBarContainer input {
        width: 36vw;
    }
}