.recipeContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw; */
}

.recipeContainer img {
    height: 200px;
    width: 200px;
}

.favoritesButton img {
    height: 40px;
    width: 40px;
    margin: 2px;
}

.detailsContainer img {
    height: 80px;
    width: 160px;
}

.recipeContainer {
    font-family: 'Arvo', serif;
}