.recipeContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw; */
    background-color: rgb(228, 232, 247);
    border-radius: 25px;
    width: 35vw;
    border: solid 2px rgb(20, 19, 19);
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipeContainer img {
    height: 170px;
    width: 170px;
}

.recipeListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.favoritesButton img {
    height: 40px;
    width: 40px;
    margin: 2px;
}

.detailsContainer img {
    height: 80px;
    width: 160px;
}

.recipeContainer {
    font-family: 'Arvo', serif;
}

@media (max-width: 480px) {
    .recipeContainer {
        width: 80vw;
    }
    .detailsContainer img {
        height: 40px;
        width: 80px;
    }
}